Misc/sleuthkit-4.12.0/*
Misc/rockyou.txt
Misc/wireshark-3.6.11/*
Misc/Autopsy-4.21.0/*
Misc/FTK Imager/*

Penetration/Password Brute Force/hashcat-7.1.2/rockyou.txt
Penetration/Password Brute Force/hashcat-7.1.2/hashcat.log
Penetration/Password Brute Force/hashcat-7.1.2/hashcat.pid
Penetration/Password Brute Force/hashcat-7.1.2/hashcat.dictstat2
Penetration/Password Brute Force/hashcat-7.1.2/kernels/*.kernel

Web/Burp\ Suite/burpsuite_pro_v2022.2.2.jar
Web/Language/d8/d8

Reverse/Disassembler/IDA Pro 7.7/plugins/patching/__pycache__/*
Reverse/Disassembler/IDA Pro 7.7/plugins/patching/keystone/__pycache__/*
Reverse/Disassembler/IDA Pro 7.7/plugins/patching/ui/__pycache__/*
Reverse/Disassembler/IDA Pro 7.7/plugins/patching/util/__pycache__/*
Reverse/Disassembler/IDA Pro 7.7/plugins/retsync/__pycache__/*
Reverse/Disassembler/IDA Pro 7.7/python/3/__pycache__/*
Reverse/Disassembler/IDA Pro 7.7/python/3/PyQt5/__pycache__/*

Reverse/Debugger/x96dbg/release/x32/db/*
Reverse/Debugger/x96dbg/release/x64/db/*